<template>
  <v-dialog v-model="dialog" max-width="512">
    <v-card>
      <v-card-title class="headline"><slot /></v-card-title>
      <v-card-actions>
        <v-btn @click="onDelete">Delete</v-btn>
        <v-btn @click="onCancel">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data () {
    return {
      dialog: false
    }
  },
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (v) {
        if (v) {
          this.dialog = true
          this.$emit('ack')
        }
      }
    }
  },
  methods: {
    onDelete () {
      this.$emit('delete')
      this.dialog = false
    },
    onCancel () {
      this.dialog = false
    }
  }
}
</script>
