<template>
  <v-dialog v-model="dialog" max-width="512">
    <v-card>
      <v-card-title class="headline">Modify a Lab</v-card-title>
      <v-card-text>
          <v-container>
            <v-form ref="form" @submit="onSave" v-model="valid" lazy-validation>
              <v-row>
                <v-col cols="12">
                  <v-text-field :rules="nameRules" label="Lab Name" type="text" name="lab-name" v-model="lab.labName" required />
                </v-col>
                <v-col cols="12">
                  <v-select :rules="tagsRules" :items="['web', 'crypto', 'pwn', 'reverse', 'misc']" label="Tags" v-model="lab.tags" multiple chips required />
                </v-col>
                <v-col cols="12">
                  <v-text-field :rules="vmImageUrlRules" label="VM Image URL" type="text" name="vm-image" v-model="lab.vmImage" required />
                </v-col>
                <v-col cols="12">
                  <v-textarea :rules="instructionsRules" label="Instructions" name="instructions" v-model="lab.instructions" required />
                </v-col>
                <v-col cols="12">
                  <v-text-field :rules="scoreRules" label="Score" type="number" name="score" :value="lab.score" @input="lab.score = parseInt($event)" />
                </v-col>
                <v-col cols="12">
                  <v-text-field :rules="hintRules" label="Hint" type="text" name="hint" v-model="lab.hint" />
                </v-col>
              </v-row>
            </v-form>
          </v-container>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="onSave">Save</v-btn>
        <v-btn @click="onCancel">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import _ from 'lodash'

export default {
  data () {
    return {
      dialog: false,
      lab: {
        labName: '',
        tags: [],
        vmImage: '',
        instructions: '',
        score: 0,
        hint: '',
        solutionId: '-dummy-solution-id-'
      },
      valid: true,
      nameRules: [
        v => typeof v === 'string' || 'name must be a string',
        v => v.length > 0 || 'name cannot be empty'
      ],
      tagsRules: [
        v => Array.isArray(v) && v.every(e => typeof e === 'string') || 'tags must be an array of string',
        v => v.length > 0 || 'at least 1 tag required'
      ],
      vmImageUrlRules: [
        v => typeof v === 'string' || 'VM image URL must be a string',
        v => v.length > 0 || 'VM image URL cannot be empty',
        v => v.startsWith('gs://') || 'must start with gs://'
      ],
      instructionsRules: [
        v => typeof v === 'string' || 'instructions must be a string',
        v => v.length > 0 || 'instructions cannot be empty'
      ],
      scoreRules: [
        v => typeof v === 'number' || 'score must be a number',
        v => v >= 0 || 'score must be positive'
      ],
      hintRules: [
        v => typeof v === 'string' || 'hint must be a string',
        v => v.length > 0 || 'hint cannot be empty'
      ]
    }
  },
  props: {
    value: {
      default: false
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (v) {
        if (v) {
          this.resetForm()
          this.dialog = true
          this.lab = _.cloneDeep(v)
          this.valid = true
          this.$emit('ack')
        }
      }
    }
  },
  methods: {
    onSave () {
      if (!this.$refs.form.validate()) return
      this.$emit('save', this.lab)
      this.dialog = false
    },
    onCancel () {
      this.dialog = false
    },
    resetForm () {
      this.lab = {
        labName: '',
        tags: [],
        vmImage: '',
        instructions: '',
        score: 0,
        hint: '',
        solutionId: '-dummy-solution-id-'
      }
    }
  }
}
</script>
