<template>
  <v-dialog v-model="dialog" max-width="512">
    <v-card>
      <v-card-title class="headline">Modify a User</v-card-title>
      <v-card-text>
          <v-container>
            <v-form ref="form" @submit="onSave" v-model="valid" lazy-validation>
              <v-row>
                <v-col cols="12">
                  <v-text-field :rules="emailRules" label="Email" type="email" name="new-email" v-model="user.email" required />
                </v-col>
                <v-col cols="12">
                  <v-text-field :rules="passwordRules" label="Password" type="password" name="new-password" placeholder="unchanged" v-model="user.password" required />
                </v-col>
                <v-col cols="12">
                  <v-text-field :rules="nameRules" label="Display Name" type="text" name="display-name" v-model="user.displayName" required />
                </v-col>
                <v-col cols="12">
                  <v-text-field :rules="photoUrlRules" label="Display Picture URL" type="text" name="display-picture-url" v-model="user.photoURL" />
                </v-col>
                <v-col cols="12">
                  <v-select :rules="roleRules" :items="['user', 'admin']" label="Role" v-model="user.role" required />
                </v-col>
              </v-row>
            </v-form>
          </v-container>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="onSave">Save</v-btn>
        <v-btn @click="onCancel">Cancel</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import _ from 'lodash'

export default {
  data () {
    return {
      dialog: false,
      user: {
        email: '',
        password: '',
        displayName: '',
        photoURL: '',
        role: 'user'
      },
      valid: true,
      emailRegex: /^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/,
      emailRules: [
        v => typeof v === 'string' || 'This has to be a string',
        v => v.length >= 1 || 'Email cannot be empty',
        v => !!v.match(this.emailRegex) || 'Invalid Email Format'
      ],
      passwordRules: [
        v => typeof v === 'string' || 'This has to be a string',
        v => v.length >= 8 || v === '' || 'Password require 8 characters or longer'
      ],
      nameRules: [
        v => typeof v === 'string' || 'This has to be a string',
        v => v.length >= 1 || 'Display Name cannot be empty'
      ],
      photoUrlRules: [
        v => typeof v === 'string' || 'This has to be a string',
        v => v === '' || v.startsWith('http://') || v.startsWith('https://') || 'Must be a URL'
      ],
      roleRules: [
        v => typeof v === 'string' || 'This has to be a string',
        v => ['user', 'admin'].includes(v) || 'Invalid item selected, has to be user or admin'
      ]
    }
  },
  props: {
    value: {
      default: false
    }
  },
  watch: {
    value: {
      immediate: true,
      handler (v) {
        if (v) {
          this.resetForm()
          this.dialog = true
          this.user = _.cloneDeep(v)
          this.user.password = ''
          this.valid = true
          this.$emit('ack')
        }
      }
    }
  },
  methods: {
    onSave () {
      if (!this.$refs.form.validate()) return
      this.$emit('save', this.user)
      this.dialog = false
    },
    onCancel () {
      this.dialog = false
    },
    resetForm () {
      this.user = {
        email: '',
        password: '',
        displayName: '',
        photoURL: '',
        role: 'user'
      }
    }
  }
}
</script>
