<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      fixed
      app
      permanent
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in menuItemsFiltered"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      fixed
      app
    >
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer
      :absolute="!fixed"
      app
    >
      <span>&copy; {{ new Date().getFullYear() }} Company Co., Ltd.</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      drawer: true,
      fixed: false,
      items: [
        {
          icon: 'mdi-key',
          title: 'Login',
          to: '/',
          protected: false,
          guestOnly: true
        },
        {
          icon: 'mdi-home',
          title: 'Home',
          to: '/home',
          protected: true
        },
        {
          icon: 'mdi-account',
          title: 'Users',
          to: '/users',
          protected: 'admin'
        },
        {
          icon: 'mdi-thermometer',
          title: 'Labs',
          to: '/labs',
          protected: 'admin'
        }
      ],
      title: 'Testing Project'
    }
  },
  async created () {
    this.$store.dispatch('auth/linkWithAxios', {
      axios: this.$axios,
      $fireAuth: this.$fireAuth
    })
  },
  computed: {
    menuItemsFiltered () {
      return this.items.filter(e => {
        if (e.protected && !this.$store.getters['auth/isAuthenticated']) return false
        if (e.guestOnly && this.$store.getters['auth/isAuthenticated']) return false
        if (typeof e.protected === 'string' && this.$store.state.auth.currentUser.role !== e.protected) return false

        return true
      })
    }
  }
}
</script>
