<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6" v-if="$store.getters['auth/isAuthenticated']">
      <v-card>
        <v-card-title class="headline">
          Logged in as: {{ $store.state.auth.currentUser.displayName }}<template v-if="$store.state.auth.currentUser.role === 'admin'"> (Admin)</template>
        </v-card-title>
        <v-card-actions>
            <v-btn @click="logout">Logout</v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  computed: {
    isAuthenticated () {
      return this.$store.getters['auth/isAuthenticated']
    }
  },
  watch: {
    isAuthenticated: {
      immediate: true,
      async handler (isAuthenticated) {
        if (!isAuthenticated) {
          await this.$router.push('/')
        }
      }
    }
  },
  methods: {
    async logout () {
        await this.$fireAuth.signOut()
    }
  }
}
</script>
