<template>
  <v-row justify="center" align="center">
    <v-col cols="0" sm="2" md="3" />
    <v-col cols="12" sm="8" md="6">
      <v-row>
        <v-col cols="12">
          <h1 v-if="mode === 'login'">Login</h1>
          <h1 v-if="mode === 'register'">Register</h1>
        </v-col>
        <v-col cols="12">
          <v-form ref="form" @submit="mode === 'login' ? login : register" v-model="valid" lazy-validation>
            <v-row>
              <v-col cols="12">
                <v-text-field :rules="emailRules" label="Email" type="text" name="email" autocomplete="on" v-model="email" />
                <v-text-field :rules="passwordRules" label="Password" type="password" name="password" autocomplete="on" v-model="password" />
                <v-text-field :rules="nameRules" label="Display Name" type="text" name="display-name" autocomplete="on" v-if="mode === 'register'" v-model="displayName" />
              </v-col>
              <v-col cols="12" v-if="mode === 'login'">
                <v-btn :disabled="clicked" dark @click="login">Login</v-btn>
                <v-btn :disabled="clicked" dark @click="mode = 'register'">Register</v-btn>
              </v-col>
              <v-col cols="12" v-if="mode === 'register'">
                <v-btn :disabled="clicked" dark @click="register">Create an Account</v-btn>
              </v-col>
              <v-col cols="12" v-if="mode === 'register'">
                <p>already has an account? <a href="javascript:void(0)" @click="mode = 'login'">Login</a></p>
              </v-col>
            </v-row>
          </v-form>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="0" sm="2" md="3" />
  </v-row>
</template>

<script>
export default {
  data () {
    return {
      mode: 'login',
      email: '',
      password: '',
      displayName: '',
      photoURL: '',
      clicked: false,
      valid: true,
      emailRegex: /^(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$/,
      emailRules: [
        v => typeof v === 'string' || 'This has to be a string',
        v => v.length >= 1 || 'Email cannot be empty',
        v => !!v.match(this.emailRegex) || 'Invalid Email Format'
      ],
      passwordRules: [
        v => typeof v === 'string' || 'This has to be a string',
        v => v.length >= 8 || 'Password require 8 characters or longer'
      ],
      nameRules: [
        v => typeof v === 'string' || 'This has to be a string',
        v => v.length >= 1 || 'Display Name cannot be empty'
      ]
    }
  },
  computed: {
    isAuthenticated () {
      return this.$store.getters['auth/isAuthenticated']
    }
  },
  watch: {
    isAuthenticated: {
      immediate: true,
      async handler (isAuthenticated) {
        if (isAuthenticated) {
          await this.$router.push('/home')
        }
      }
    }
  },
  methods: {
    async login () {
      if (!this.$refs.form.validate()) return
      if (!this.email) return
      if (!this.password) return

      this.clicked = true

      try {
        await this.$fireAuth.signInWithEmailAndPassword(this.email, this.password)
      } catch (e) {
        alert(e.message)
      }
    },
    async register () {
      if (!this.$refs.form.validate()) return

      this.clicked = true
      
      await this.$axios.$post('/api/users', {
        email: this.email,
        password: this.password,
        displayName: this.displayName,
        photoURL: this.photoURL
      })

      this.mode = 'login'

      await this.login()
    }
  }
}
</script>
