<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8">
      <v-row>
        <v-col cols="12">
          <v-card>
            <v-card-title class="headline">
              Labs
            </v-card-title>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-simple-table>
            <thead>
            <tr>
              <th>Name</th>
              <th>Tags</th>
              <th>Hint</th>
              <th>Score</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="lab in labs" :key="lab.labId">
              <td>{{ lab.labName }}</td>
              <td>{{ lab.tags.join(', ') }}</td>
              <td>{{ lab.hint }}</td>
              <td>{{ lab.score }}</td>
              <td><v-icon @click="prepareEditLab(lab)">mdi-pencil</v-icon></td>
              <td><v-icon @click="confirmDelete(lab)">mdi-delete</v-icon></td>
            </tr>
            </tbody>
          </v-simple-table>
        </v-col>
        <v-col cols="12">
          <v-btn @click="createDialog = true">Create a Lab</v-btn>
          <delete-dialog v-model="deleteDialog" @ack="deleteDialog = false" @delete="deleteLab">
            <template v-if="labToDelete">Delete Lab: "{{ labToDelete.labName }}" ?</template>
          </delete-dialog>
          <create-lab-form v-model="createDialog" @ack="createDialog = false" @create="addLab" />
          <edit-lab-form v-model="editDialog" @ack="editDialog = false" @save="saveLab" />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import DeleteDialog from '../components/DeleteDialog'
import CreateLabForm from '../components/CreateLabForm'
import EditLabForm from '../components/EditLabForm'

export default {
  components: {
    DeleteDialog,
    CreateLabForm,
    EditLabForm
  },
  data () {
    return {
      labs: [],
      deleteDialog: false,
      labToDelete: null,
      createDialog: false,
      editDialog: false
    }
  },
  async asyncData ({ $axios }) {
    let response = { data: [] }

    try {
      response = await $axios.get('/api/labs')
    } catch (e) {
      console.error(e.response.data.error)
    }

    return {
      labs: response.data
    }
  },
  computed: {
    isAuthenticated () {
      if (this.$store.getters['auth/isAuthenticated']) return this.$store.state.auth.currentUser.uid
      else return false
    }
  },
  watch: {
    isAuthenticated: {
      immediate: true,
      async handler (isAuthenticated) {
        if (!isAuthenticated) {
          await this.$router.push('/')
        }
      }
    }
  },
  methods: {
    async addLab (lab) {
      let response = await this.$axios.post('/api/labs', lab)
      lab.labId = response.data.labId
      this.labs.push(lab)
    },
    prepareEditLab (lab) {
      this.editDialog = lab
    },
    async saveLab (lab) {
      if (!lab) return

      await this.$axios.put(`/api/labs/${lab.labId}`, lab)

      let labIndex = this.labs.findIndex(l => l.labId === lab.labId)
      this.labs.splice(labIndex, 1, lab)
    },
    confirmDelete (lab) {
      this.labToDelete = lab
      this.deleteDialog = true
    },
    async deleteLab () {
      if (!this.labToDelete) return

      let labId = this.labToDelete.labId
      await this.$axios.delete(`/api/labs/${labId}`)

      let deleteIndex = this.labs.findIndex(u => u === this.labToDelete)
      this.labs.splice(deleteIndex, 1)
    }
  }
}
</script>
