<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8">
      <v-row>
        <v-col cols="12">
          <v-card>
            <v-card-title class="headline">
              Users
            </v-card-title>
          </v-card>
        </v-col>
        <v-col cols="12">
          <v-simple-table>
            <thead>
            <tr>
              <th>Email</th>
              <th>Display Name</th>
              <th>Display Picture</th>
              <th>Role</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="user in users" :key="user.userId">
              <td>{{ user.email }}</td>
              <td>{{ user.displayName }}</td>
              <td v-if="user.photoURL"><a :href="user.photoURL" target="_blank">View</a></td>
              <td v-else><em>No Photo</em></td>
              <td>{{ user.role }}</td>
              <td><v-icon @click="prepareEditUser(user)">mdi-pencil</v-icon></td>
              <td v-if="user.userId !== isAuthenticated"><v-icon @click="confirmDelete(user)">mdi-delete</v-icon></td>
              <td v-else></td>
            </tr>
            </tbody>
          </v-simple-table>
        </v-col>
        <v-col cols="12">
          <v-btn @click="createDialog = true">Create a User</v-btn>
          <delete-dialog v-model="deleteDialog" @ack="deleteDialog = false" @delete="deleteUser">
            <template v-if="userToDelete">Delete User: "{{ userToDelete.email }}" ?</template>
          </delete-dialog>
          <create-user-form v-model="createDialog" @ack="createDialog = false" @create="addUser" />
          <edit-user-form v-model="editDialog" @ack="editDialog = false" @save="saveUser" />
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import DeleteDialog from '../components/DeleteDialog'
import CreateUserForm from '../components/CreateUserForm'
import EditUserForm from '../components/EditUserForm'

export default {
  components: {
    DeleteDialog,
    CreateUserForm,
    EditUserForm
  },
  data () {
    return {
      users: [],
      deleteDialog: false,
      userToDelete: null,
      createDialog: false,
      editDialog: false
    }
  },
  async asyncData ({ $axios }) {
    let response = { data: [] }

    try {
      response = await $axios.get('/api/users')
    } catch (e) {
      console.error(e.response.data.error)
    }

    return {
      users: response.data
    }
  },
  computed: {
    isAuthenticated () {
      if (this.$store.getters['auth/isAuthenticated']) return this.$store.state.auth.currentUser.uid
      else return false
    }
  },
  watch: {
    isAuthenticated: {
      immediate: true,
      async handler (isAuthenticated) {
        if (!isAuthenticated) {
          await this.$router.push('/')
        }
      }
    }
  },
  methods: {
    async addUser (user) {
      let response = await this.$axios.post('/api/users', user)
      user.userId = response.data.userId
      this.users.push(user)
    },
    prepareEditUser (user) {
      this.editDialog = user
    },
    async saveUser (user) {
      if (!user) return

      await this.$axios.put(`/api/users/${user.userId}`, user)

      delete user.password

      let userIndex = this.users.findIndex(u => u.userId === user.userId)
      this.users.splice(userIndex, 1, user)
    },
    confirmDelete (user) {
      this.userToDelete = user
      this.deleteDialog = true
    },
    async deleteUser () {
      if (!this.userToDelete) return

      let userId = this.userToDelete.userId
      await this.$axios.delete(`/api/users/${userId}`)

      let deleteIndex = this.users.findIndex(u => u === this.userToDelete)
      this.users.splice(deleteIndex, 1)
    }
  }
}
</script>
